#container {
    height: 100%;
    background-color: #fff;
    padding: 20px;
}

#container,
#container form,
#container .row {
    width: 100%;
}


#container, #container * {
    float: left;
    box-sizing: border-box;
}